@model GrandBazaar.WebClient.Areas.Customer.Models.PurchaseItemViewModel

@{
    ViewData["Title"] = "Purchase";
}

@section Scripts{
    @if (TempData["Error"] != null)
    {
        <script>grandBazaar.showError('@TempData["Error"]')</script>
    }
}

<h2>Purchase</h2>

@if (Model.Valid)
{
    <h4>Place your order here</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Purchase" asp-route-returnUrl="@ViewData["ReturnUrl"]" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SellerAddress" class="control-label"></label>
                    <input asp-for="SellerAddress" class="form-control" readonly="readonly" />
                    <span asp-validation-for="SellerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                @if (Model.InStock)
                {
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Keystore file</label>
                        <input type="file" name="keystore" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountPassword" class="control-label"></label>
                        <input asp-for="AccountPassword" class="form-control" />
                        <span asp-validation-for="AccountPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Purchase" class="btn btn-default" />
                    </div>
                }
            </form>
        </div>
    </div>
}

<div>
    @if (Model.Valid)
    {
        @Html.ActionLink("Details", "Details", new { area = "Customer", id = Model.Id }, new { @class = "delimited" })
    }
    <a asp-action="Index">Back to List</a>
</div>

